:root {
    --color-navbar: #DD7373;
    --color-bg: #F1EAE8;
    --color-text: #000000;
    --color-headings: #F4B262;
}


.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100dvh;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--color-headings);
    color: var(--color-bg);
}

nav img {
    width: 40%;
}

main {
    grid-area: 2 / 2 / -1 / -1;
}

header {
    grid-area: 1 / 2 / 2 / -1;
}

header * {
    color: var(--color-bg);
    text-align: center;
    background-color: var(--color-headings);
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
}

