@font-face {
    font-family: barlow;
    src: url(/fonts/barlow.ttf);
}

@font-face {
    font-family: barlowbold;
    src: url(/fonts/barlowbold.ttf);
}

@font-face {
    font-family: inter;
    src: url(/fonts/inter.ttf);
}


* {
    margin: 0;
    padding: 0;
}


#infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    font-family: barlow;
}
