:root {

/*Color palette*/

--color-text: black;
--color-elements: grey;
--color-third: grey;

/*Font family*/

--font-headlines: ;
--font-text:;
}


@font-face {
    font-family: ;
    src: url(../../public/fonts/);
}


@font-face {
    font-family: ;
    src: url(../../public/fonts/);
}





body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
font-family: var(--font-headlines);
}


p {
    font-family: var(--font-text);
}

a {
    font-family: var(--font-text);
}



.tc {
    text-align: center;
}


#header {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}


#footer {
    margin: 0px;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-elements);
    position: absolute;
    height: 3rem;
    align-items: center;
    color: var(--color-text);
    bottom: 0;
    width: 100%;
}