
/*Declaring (color) variables*/
:root {
    --color-bg: #F1EAE8;
    --color-text: #000000;
    --color-headings: #ACCBE1;
}

body {
    background-color: var(--color-bg);
}

#headline {
    text-align: center;
    font-size: 5rem;
    font-family: barlowbold;
    color: var(--color-bg);
    text-transform: uppercase;
}

header {
    background-color: var(--color-headings);
    width: 80%;
    margin: 2rem auto 0;
    padding: 1.5rem 0;
}

header p {
    text-align: center;
    color: var(--color-bg);
    font-size: 1.5rem;
    font-family: barlowbold;
}

#organe {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#organe div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#organe div a {
    width: fit-content;
    height: fit-content;
}


#organe img {
    width: clamp(100px, 20vw, 450px);
    margin: 0 4rem;
}


#organe p {
    color: var(--color-headings);
    font-size: 2.5rem;
    font-family: barlowbold;
    text-align: center;
}


/* Cat */

#cat {
    width: 10vw;
}

#catcontainer {
    display: flex;
    justify-content: flex-end;
}

#catcontainer #cat {
    margin-left: auto;
}

#infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    margin: auto 0 2rem 2rem;
    font-family: barlow;
}

/* Zoom Effect */

.zoom_transition:hover {
    transform: scale(1.1);
    transition: transform 0.5s ;
}

.zoom_transition {
    transform: scale(1);
    transition: transform 0.5s ;
}


@media (max-width: 600px) {
    #headline {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }

    #organe {
        flex-direction: column;
        align-items: center;
    }

    #organe img {
        width: clamp(70vw, 3rem, 100px);
        aspect-ratio: 1 / 1;
        margin: 0;
    }
}