/* Everything Layout specific */

:root {
    --navbar-fsize: 1.6rem; /*Navbar (Categories)*/
    --navbar-heading-fsize: 2.5rem; /*Navbar (Heading)*/
    --main-heading-fsize: 1.6rem; /*Heading (Sub Category)*/
    --main-mainheading-fsize: 2.5rem; /*Main Heading (Organ)*/
}


.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
}

* {
    font-family: barlowbold;
}


/* NAVBAR Styling*/

nav {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--color-navbar);
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav * {
    color: var(--color-bg);
}

nav a {
    text-decoration: none;
}

nav #cat {
    display: flex;
    justify-content: center;
}

nav #cat img {
    width: 40%;
}

nav h1 {
    font-size: var(--navbar-heading-fsize);
    margin-bottom: 1rem;
    
}

nav h2 {
    font-size: var(--navbar-fsize);
}



/* Main Content Styling*/


main {
    grid-area: 1 / 2 / 6 / 6;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow-y: scroll;
}

/*The OVER heading*/

main h1 {
    color: var(--color-navbar);
    font-size: var(--main-mainheading-fsize);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

main h1::after {
    content: '';
    height: 3.5rem;
    aspect-ratio: 1/1;
    display: inline-block;
    background-image: var(--headline-icon);
    background-size: contain;
}

main h2 {
    background-color: var(--color-navbar);
    width: fit-content;
    color: var(--color-bg);
    margin: 0 auto;
    font-size: var(--main-heading-fsize);
    padding: 0.5rem 1rem;
}


main img {
    width: clamp(75ch, 80%, 200px);
}


/*For a better readability and look, every line should only contain 45-70 charakters*/

main p, main li {
    width: 60ch;
}


/* Mobile Layout */ 


@media (max-width: 600px) {
    .layout {
        display: flex;
        flex-direction: column;
    }

    main {
        overflow-y: visible;
    }
}




