---
import "../styles/global.css";
import "../styles/extra.css"
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <title>Über uns</title>
    <meta name="author" content="p-seminar" />
    <meta name="desciption" content="Wir bringen Schüler:innen innere Organe näher" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <main>
        <h1>Über uns</h1>
        <p>Wer sind wir? Was machen wir überhaupt? Wieso tun wir das eigentlich? Und essen wir Pizza mit Ananas? Diese Fragen wollen wir hier (fast) alle beantworten und euch die Geschichte dieser Website näher bringen :D  </p>
    </main>
  </body>
</html>
