---
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
---

<html lang="de">
	<head>
		<title>P-Seminar</title>
		<meta author="p-seminar">
		<meta desciption="Wir bringen innere Organe näher">
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="layout">
			<Header />
			<div id="mainpage-content">
				<h1 class="tc">Über uns</h1>
				
			</div>
			<Footer id="test"/>
		</div>
	</body>
</html>


