---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
import "../styles/gehirn.css"
---

<html lang="de">
  <head>
    <title>Das Gehirn</title>
    <meta author="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="layout">
      <div class="container">
        <nav>
          <img src="/img/cat.webp">
          <h1>Inhalt</h1>
          <h2><a href="#lunge-aufbau">Aufbau</a></h2>
          <h2>Funktion</h2>
          <h2>Krankheiten</h2>
          <h2>Sezieren</h2>
          <h2>Experten</h2>
        </nav>
        <main>
          <h2 id="lunge-aufbau">Aufbau & Funktion</h2>
          <h3>Das Großhirn (cerebraler Cortex):</h3>
         <ul>
          <li>Größter Teil des Gehirns</li>
          <li>Verantwortlich für komplexe Denkprozesse, Bewegungskoordination, Sinneswahrnehmung und Sprache</li>
          <li>Unterteilt in zwei Hemisphären, verbunden durch Corpus callosum</li>
          <li>Jede Hemisphäre kontrolliert gegenüberliegende Körperhälfte</li>
          <li>Linke Hemisphäre oft mit Sprache assoziiert, rechte mit räumlichem Denken und Kreativität</li>
        </ul>
          <h3>Das Kleinhirn:</h3>
          <ul>
            <li>Unterhalb des Großhirns gelegen</li>
          <li>Hauptaufgabe: Feinabstimmung von Bewegungen und Aufrechterhaltung des Gleichgewichts</li>
          <li>Koordination von Muskelaktivitäten und Präzision von Bewegungen</li>
        </ul>
          <h3>Der Hirnstamm:</h3>
          <ul>
          <li>Am unteren Ende des Gehirns</li>
        <li>Kontrolliert lebenswichtige Funktionen wie Atmung, Herzfrequenz, Schlafzyklen und Reflexe</li>
          <li>Verbindung zwischen Gehirn und Rückenmark</li>
          <li>Ermöglicht Signalweiterleitung zwischen Körper und Gehirn</li>
          </ul>
          <h2>Funktion</h2>
        </main>
        <header>
          <h1>Das Gehirn</h1>
        </header>
      </div>
    </div>
  </body>
</html>
