---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
---

<html lang="de">
  <head>
    <title>Das Gehirn</title>
    <meta author="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="layout">
      <Header />
      <div class="mainpage-content">
        <div class="sidebar">
          <h1><a href="#sb-inhalt">Inhalt</a></h1>
          <h3><a href="#sb-aufbau">Aufbau</a></h3>
          <h3><a href="#sb-funktion">Funktion</a></h3>
          <h3><a href="#sb-sezieren">Sezieren</a></h3>
          <h3><a href="#sb-berufe">Berufe</a></h3>
        </div>
        <div class="content">
          <h1 id="sb-inhalt">Das Gehirn</h1>
          <h2 id="sb-aufbau"></h2>
          <h2 id="sb-funktion"></h2>
          <h2 id="sb-sezieren"></h2>
          <h2 id="sb-berufe"></h2>
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
