---
import "../styles/layout.css";
import "../styles/gehirn.css";
import "../styles/global.css";
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <title>Das Gehirn</title>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <div class="layout">
      <nav>
        <a href="/" id="cat"><img src="/img/cat.webp" /></a>
        <h1><a href="#inhalt">Inhalt</a></h1>
        <h2><a href="#aufbau">Aufbau</a></h2>
        <h2><a href="#funktion">Funktion</a></h2>
        <h2><a href="#krankheiten">Krankheiten</a></h2>
        <h2><a href="#sezieren">Sezieren</a></h2>
        <h2><a href="#experten">Experten</a></h2>
      </nav>
      <main>
        <h1 id="inhalt">Das Gehirn</h1>
        <h2 id="aufbau">Aufbau & Funktion</h2>
        <h3>Das Großhirn (cerebraler Cortex):</h3>
        <ul>
          <li>Größter Teil des Gehirns</li>
          <li>
            Verantwortlich für komplexe Denkprozesse, Bewegungskoordination,
            Sinneswahrnehmung und Sprache
          </li>
          <li>
            Unterteilt in zwei Hemisphären, verbunden durch Corpus callosum
          </li>
          <li>Jede Hemisphäre kontrolliert gegenüberliegende Körperhälfte</li>
          <li>
            Linke Hemisphäre oft mit Sprache assoziiert, rechte mit räumlichem
            Denken und Kreativität
          </li>
        </ul>
        <h3>Das Kleinhirn:</h3>
        <ul>
          <li>Unterhalb des Großhirns gelegen</li>
          <li>
            Hauptaufgabe: Feinabstimmung von Bewegungen und Aufrechterhaltung
            des Gleichgewichts
          </li>
          <li>
            Koordination von Muskelaktivitäten und Präzision von Bewegungen
          </li>
        </ul>
        <h3>Der Hirnstamm:</h3>
        <ul>
          <li>Am unteren Ende des Gehirns</li>
          <li>
            Kontrolliert lebenswichtige Funktionen wie Atmung, Herzfrequenz,
            Schlafzyklen und Reflexe
          </li>
          <li>Verbindung zwischen Gehirn und Rückenmark</li>
          <li>Ermöglicht Signalweiterleitung zwischen Körper und Gehirn</li>
        </ul>
        <h2 id="funktion">Funktion</h2>
        <h2>Die Leistungsfähigkeit</h2>
        <p>Je größer das Gehirn ist, desto intelligenter ist der Mensch?</p>

        <p>-> falsch</p>
        <ul>
          <li>Intelligenz hängt nicht mit der Größe des Gehirns zusammen</li>
          <li>
            Vernetzung der Nerven- Zellen und Gehirn- Bereiche ausschlaggebend
          </li>
          <li>Entwicklung der Hauptverbindungen schon vor Geburt</li>
          <li>
            Neue Verbindungen werden über das gesamte Leben hinweg erschaffen
            und alte sich verändern, z.B durch intensive Nutzung wie Lernen oder
            Erfahrungen
          </li>
        </ul>
        <h2 id="krankheiten">Krankheiten</h2>
        <h3>Demenz</h3>

        <p>
          Demenz ist gekennzeichnet durch Gedächtnisstörungen, eingeschränktes
          Denkvermögen und Verlust von kognitiven und sozialen Fähigkeiten. Die
          am häufigsten auftretende Form dieser Krankheit ist Alzheimer. Demenz
          ist nicht heilbar, jedoch können Medikamente die Symptome verlangsamen
          oder lindern.
        </p>

        <h3>Parkinson</h3>

        <p>
          Die Symptome Parkinson's sind Zittern, Muskelstarre und
          Bewegungsarmut. Parkinson's wird durch einen Mangel an Dopamin
          verursacht und ist nicht heilbar. Allerdings kann wie bei der Demenz
          eine Behandlung durch Medikamente Symptome lindern.
        </p>

        <h3>Multiple Sklerose (MS)</h3>

        <p>
          MS entsteht durch einen Fehler im Immunsystem infolge welchen die
          Isolierschicht der eigenen Nerven angegriffen wird. Der
          Krankheitsverlauf kann mit schneller Diagnose und Therapie verlangsamt
          werden, die eigentliche Behandlung erfolgt jedoch mithilfe von
          Medikamenten.
        </p>

        <h3>Schlaganfall</h3>

        <p>
          Schlaganfälle entstehen durch Hirnblutungen und Gefäßverschlüsse.
          Beide können langfristige Schäden verursachen, aber bei einer
          schnellen Behandlung können Folgeschäden minimiert werden. Therapien
          sind verschieden, je nach Ursache können aber Medikamente,
          Katheterverfahren oder Operationen infrage kommen.
        </p>

        <h3>Epilepsie</h3>

        <p>
          Zu den Symptomen von Epilepsie gehören wiederkehrende Anfälle. Diese
          können nicht direkt verhindert werden, Behandlung setzt allerdings auf
          eine Anfallskontrolle durch Antiepileptika. Für Therapieresistenz
          können operative Eingriffe in Erwägung gezogen werden.
        </p>

        <h2 id="sezieren">Sezieren</h2>
        <h2 id="experten">Experten</h2>
      </main>
    </div>
  </body>
</html>
