---
import "../styles/layout.css";
import "../styles/gehirn.css";
import "../styles/global.css";
import Umami from "../components/umami.astro";
import Infobox from "../components/infobox.astro";
---

<html lang="de">
  <head>
    <title>Das Gehirn</title>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <div class="layout">
      <nav>
        <a href="/" id="cat"><img src="/img/cat.webp" /></a>
        <h1><a href="#inhalt">Inhalt</a></h1>
        <h2><a href="#aufbau">Aufbau</a></h2>
        <h2><a href="#entwicklung">Entwicklung</a></h2>
        <h2><a href="#funktion">Funktion</a></h2>
        <h2><a href="#krankheiten">Krankheiten</a></h2>
        <h2><a href="#sezieren">Sezieren</a></h2>
        <h2><a href="#experten">Experten</a></h2>
        <Infobox />
      </nav>
      <main>
        <h1 id="inhalt">Das Gehirn</h1>
        <h2 id="aufbau">Aufbau & Funktion</h2>
        <h3>Das Großhirn (cerebraler Cortex):</h3>
        <ul>
          <li>Größter Teil des Gehirns</li>
          <li>
            Verantwortlich für komplexe Denkprozesse, Bewegungskoordination,
            Sinneswahrnehmung und Sprache
          </li>
          <li>
            Unterteilt in zwei Hemisphären, verbunden durch Corpus callosum
          </li>
          <li>Jede Hemisphäre kontrolliert gegenüberliegende Körperhälfte</li>
          <li>
            Linke Hemisphäre oft mit Sprache assoziiert, rechte mit räumlichem
            Denken und Kreativität
          </li>
        </ul>
        <h3>Das Kleinhirn:</h3>
        <ul>
          <li>Unterhalb des Großhirns gelegen</li>
          <li>
            Hauptaufgabe: Feinabstimmung von Bewegungen und Aufrechterhaltung
            des Gleichgewichts
          </li>
          <li>
            Koordination von Muskelaktivitäten und Präzision von Bewegungen
          </li>
        </ul>
        <h3>Der Hirnstamm:</h3>
        <ul>
          <li>Am unteren Ende des Gehirns</li>
          <li>
            Kontrolliert lebenswichtige Funktionen wie Atmung, Herzfrequenz,
            Schlafzyklen und Reflexe
          </li>
          <li>Verbindung zwischen Gehirn und Rückenmark</li>
          <li>Ermöglicht Signalweiterleitung zwischen Körper und Gehirn</li>
        </ul>
        <h2 id="entwicklung">Entwicklung</h2>
        <p>Die Entwicklung des menschlichen Gehirns kann in mehrere Schlüsselstadien unterteilt werden, von der Embryonalperiode bis ins hohe Alter. </p>

 

<h3>Embryonalperiode (von der Empfängnis bis zur 8. Woche) </h3>
<ul>
  <li><p>Bildung der Neuralplatte und deren Umhüllung in das Neuralrohr. 
    (Neuralplatte ––> Neuralrohr –> wird zum Zentralnervensystem, einschließlich Gehirn und Rückenmark.) </p></li>
  <li><p>Aufteilung des Neuralrohrs in drei primäre Hirnbläschen: Vorderhirn, Mittelhirn und Hinterhirn. </p></li>
  <li><p>Bildung der Hauptteile des Gehirns und des Rückenmarks. </p></li>
  <li><p>Die ersten primitiven Reflexe beginnen. (Das sind natürliche Reaktionen, die einen Entwicklungsprozess in Gang setzen, der einen neuronalen Schaltkreis für eine bestimmte Funktion freigibt .) </p></li>
  
</ul>
<a class="main-img" title="NEUROtiker, CC BY-SA 3.0 &lt;http://creativecommons.org/licenses/by-sa/3.0/&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gehirn,_lateral_-_Lobi_deu.svg"><img  alt="Gehirn, lateral - Lobi deu" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Gehirn%2C_lateral_-_Lobi_deu.svg/512px-Gehirn%2C_lateral_-_Lobi_deu.svg.png?20070830000816"></a>
<a class="main-img" title="‍Kurzon, TilmannR, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Four_week_embryo_brain.svg"><img alt="Four week embryo brain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Four_week_embryo_brain.svg/256px-Four_week_embryo_brain.svg.png?20230319190119"></a>

<h3>Fetale Periode (von 9 Wochen bis zur Geburt) </h3>
<ul>
<li>
  <p>Bildung des Kleinhirns. </p>
</li>
<li>
  <p>Aktive Entwicklung der Großhirnrinde, Bildung von Rillen und Windungen. </p>
</li>
<li>
  <p>Erhöhte Gehirnmasse, Entwicklung der weißen Substanz und Myelinisierung  </p>
</li>
</ul>
<p>Weiße Substanz— sorgt für die Funktion beider Hemisphären und ist an der Informationsübertragung von der Großhirnrinde zu anderen Teilen des Nervensystems beteiligt </p>
<p>Unter Myelinisierung versteht man eine Erhöhung des Lipidgehalts und eine Verringerung des Wassergehalts in den Membranen von Nervenbahnen. </p>
<h3>Frühe Kindheit (von der Geburt bis 3 Jahre) </h3>
<ul>
  <p>Schnelles Gehirnwachstum, wodurch die Anzahl neuronaler Verbindungen erhöht wird (Synaptogenese). </p>
</li>
<li>
  <p>Intensive Myelinisierung.</p>
</li>
</ul>
<h3>Vorschulalter (von 3 bis 6 Jahren) </h3>
<ul>
  <li>
    <p>Fortgesetztes Gehirnwachstum </p>
  </li>
  <li>
    <p>Entwicklung der Frontallappen, verantwortlich für Planung und Selbstkontrolle. </p>
  </li>
</ul>
<h3>Schulalter (von 6 bis 12 Jahren) </h3>
<ul>
  <li>
    <p>Erhöhung der Dichte der Kontaktstelle zwischen zwei Neuronen (Synapse) und deren anschließendes „Beschneiden“ (synaptisches Pruning), um die Effizienz neuronaler Netze zu steigern. </p>
  </li>
</ul>
<h3>Jugend (von 12 bis 18 Jahren) </h3>

<ul>
  <li>
    <p>Intensive Entwicklung des präfrontalen Kortex </p>
  </li>
  <li>
    <p>Fortsetzung der synaptischen Beschneidung. 
    </p>
  </li>
</ul>
<h3>Erwachsenenalter (von 18 bis 65 Jahren) </h3>
<ul>
  <li>
    <p>Abschluss der Myelinisierung und Stabilisierung neuronaler Netzwerke. </p>
  </li>
  <li>
    <p>Mit zunehmendem Alter nimmt die Plastizität des Gehirns allmählich ab.</p>
  </li>
</ul>
<h3> Alter (65 Jahre und älter) </h3>
<ul>
  <li>
    <p>Reduziertes Gehirnvolumen und verringerte Anzahl von Neuronen. </p>
  </li>
  <li>
    <p>Reduzierte Synapsen- und Myelindichte. </p>
  </li>
</ul>


 


        <h2 id="funktion">Funktion</h2>
        <h2>Die Leistungsfähigkeit</h2>
        <p>Je größer das Gehirn ist, desto intelligenter ist der Mensch?</p>

        <p>-> falsch</p>
        <ul>
          <li>Intelligenz hängt nicht mit der Größe des Gehirns zusammen</li>
          <li>
            Vernetzung der Nerven- Zellen und Gehirn- Bereiche ausschlaggebend
          </li>
          <li>Entwicklung der Hauptverbindungen schon vor Geburt</li>
          <li>
            Neue Verbindungen werden über das gesamte Leben hinweg erschaffen
            und alte sich verändern, z.B durch intensive Nutzung wie Lernen oder
            Erfahrungen
          </li>
        </ul>
        <h2 id="krankheiten">Krankheiten</h2>
        <h3>Demenz</h3>

        <p>
          Demenz ist gekennzeichnet durch Gedächtnisstörungen, eingeschränktes
          Denkvermögen und Verlust von kognitiven und sozialen Fähigkeiten. Die
          am häufigsten auftretende Form dieser Krankheit ist Alzheimer. Demenz
          ist nicht heilbar, jedoch können Medikamente die Symptome verlangsamen
          oder lindern.
        </p>

        <h3>Parkinson</h3>

        <p>
          Die Symptome Parkinson's sind Zittern, Muskelstarre und
          Bewegungsarmut. Parkinson's wird durch einen Mangel an Dopamin
          verursacht und ist nicht heilbar. Allerdings kann wie bei der Demenz
          eine Behandlung durch Medikamente Symptome lindern.
        </p>

        <h3>Multiple Sklerose (MS)</h3>

        <p>
          MS entsteht durch einen Fehler im Immunsystem infolge welchen die
          Isolierschicht der eigenen Nerven angegriffen wird. Der
          Krankheitsverlauf kann mit schneller Diagnose und Therapie verlangsamt
          werden, die eigentliche Behandlung erfolgt jedoch mithilfe von
          Medikamenten.
        </p>

        <h3>Schlaganfall</h3>

        <p>
          Schlaganfälle entstehen durch Hirnblutungen und Gefäßverschlüsse.
          Beide können langfristige Schäden verursachen, aber bei einer
          schnellen Behandlung können Folgeschäden minimiert werden. Therapien
          sind verschieden, je nach Ursache können aber Medikamente,
          Katheterverfahren oder Operationen infrage kommen.
        </p>

        <h3>Epilepsie</h3>

        <p>
          Zu den Symptomen von Epilepsie gehören wiederkehrende Anfälle. Diese
          können nicht direkt verhindert werden, Behandlung setzt allerdings auf
          eine Anfallskontrolle durch Antiepileptika. Für Therapieresistenz
          können operative Eingriffe in Erwägung gezogen werden.
        </p>

        <h2 id="sezieren">Sezieren</h2>
        <button id="cw-toggle"><p>Content Warning: Echte Organe einblenden </p><svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 512 512"><circle cx="256" cy="272" r="64" fill="currentColor"/><path fill="currentColor" d="M432 144h-59c-3 0-6.72-1.94-9.62-5l-25.94-40.94a15.5 15.5 0 0 0-1.37-1.85C327.11 85.76 315 80 302 80h-92c-13 0-25.11 5.76-34.07 16.21a15.5 15.5 0 0 0-1.37 1.85l-25.94 41c-2.22 2.42-5.34 5-8.62 5v-8a16 16 0 0 0-16-16h-24a16 16 0 0 0-16 16v8h-4a48.05 48.05 0 0 0-48 48V384a48.05 48.05 0 0 0 48 48h352a48.05 48.05 0 0 0 48-48V192a48.05 48.05 0 0 0-48-48M256 368a96 96 0 1 1 96-96a96.11 96.11 0 0 1-96 96"/></svg></button>
        <section id="content-warning">
        <img src="/img/gehirn/gehirn-1.webp">
        <img src="/img/gehirn/gehirn-2.webp">
        <img src="/img/gehirn/gehirn-3.webp">
        <img src="/img/gehirn/gehirn-4.webp">
        <img src="/img/gehirn/gehirn-5.webp">
        </section>
        <script>
          let cw = 0
          document.querySelector("#cw-toggle").addEventListener("click" , event => {
            if (cw === 0)  {
            document.querySelector("#content-warning").style.display = "flex";
            cw = 1;
            }
            else {
              document.querySelector("#content-warning").style.display = "none";
              cw = 0;
            }
          })
        </script>
        <h2 id="experten">Experten</h2>
        <p>Übrigens: Unsere Arbeit basiert auf verschiedensten Quellen. Schau mal <a href="/quellen">hier</a> vorbei :D</p>
        <img id="funfact" src="/img/funfact/gehirn-1.webp">
      </main>
    </div>
  </body>
</html>
