---
import "../styles/layout.css";
import "../styles/herz.css";
import "../styles/global.css"
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <title>Das Herz</title>
    <meta author="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <div class="layout">
        <nav>
          <a href="/" id="cat"><img src="/img/cat.webp"></a>
          <h1><a href="#sb-inhalt">Inhalt</a></h1>
          <h2><a href="#sb-aufbau">Aufbau</a></h2>
          <h2><a href="#sb-function">Funktion</a></h2>
          <h2><a href="#sb-sezieren">Sezieren</a></h2>
          <h2><a href="#sb-berufe">Berufe</a></h2>
        </nav>
        <main class="content">
          <h1 id="sb-inhalt">Das Herz</h1>
          <h2 id="sb-aufbau">Aufbau</h2>
          <h2 id="sb-funktion">Funktion</h2>
          <h2 id="sb-sezieren">Sezieren</h2>
          <h2 id="sb-berufe">Berufe</h2>
        </main>
    </div>
  </body>
</html>
