---
import "../styles/layout.css";
import "../styles/herz.css";
import "../styles/global.css"
import "../styles/interactive-heart.css"
import Umami from "../components/umami.astro";
import Ihearth from "../components/iheart.astro"
import Iheart from "../components/iheart.astro";
---

<html lang="de">
  <head>
    <title>Das Herz</title>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <div class="layout">
        <nav>
          <a href="/" id="cat"><img src="/img/cat.webp"></a>
          <h1><a href="#inhalt">Inhalt</a></h1>
          <h2><a href="#aufbau">Aufbau</a></h2>
          <h2><a href="#function">Funktion</a></h2>
          <h2><a href="#sezieren">Sezieren</a></h2>
          <h2><a href="#krankheiten">Krankheiten</a></h2>
          <h2><a href="#experten">Experten</a></h2>
        </nav>
        <main class="content">
          <h1 id="inhalt">Das Herz</h1>
          <h2 id="aufbau">Aufbau</h2>
         
          <h2 id="funktion">Funktion</h2>
          <Iheart />
          <script is:inline>
            document.querySelectorAll("#interactive-heart path").forEach(element => { element.addEventListener("mouseover", (event) => {
              let lookingat = event.target.dataset.description; 
              document.querySelector("#test1234").textContent = lookingat;
            })})
          </script>
            <p>Mauszeiger über:</p>
            <p id="test1234" >TEST</p>
          <h2 id="sezieren">Sezieren</h2>
          <button id="cw-toggle"><p>Content Warning: Echte Organe einblenden </p><svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 512 512"><circle cx="256" cy="272" r="64" fill="currentColor"/><path fill="currentColor" d="M432 144h-59c-3 0-6.72-1.94-9.62-5l-25.94-40.94a15.5 15.5 0 0 0-1.37-1.85C327.11 85.76 315 80 302 80h-92c-13 0-25.11 5.76-34.07 16.21a15.5 15.5 0 0 0-1.37 1.85l-25.94 41c-2.22 2.42-5.34 5-8.62 5v-8a16 16 0 0 0-16-16h-24a16 16 0 0 0-16 16v8h-4a48.05 48.05 0 0 0-48 48V384a48.05 48.05 0 0 0 48 48h352a48.05 48.05 0 0 0 48-48V192a48.05 48.05 0 0 0-48-48M256 368a96 96 0 1 1 96-96a96.11 96.11 0 0 1-96 96"/></svg></button>
          <section id="content-warning">
          <p>Hier ist nix :D</p>
          </section>
          <script>
            let cw = 0
            document.querySelector("#cw-toggle").addEventListener("click" , event => {
              if (cw === 0)  {
              document.querySelector("#content-warning").style.display = "flex";
              cw = 1;
              }
              else {
                document.querySelector("#content-warning").style.display = "none";
                cw = 0;
              }
            })
          </script>
          <h2 id="krankheiten">Krankheiten</h2>
          <h2 id="experten">Berufe</h2>
          <p>Übrigens: Unsere Arbeit basiert auf verschiedensten Quellen. Schau mal <a href="/quellen">hier</a> vorbei :D</p>
        </main>
    </div>
  </body>
</html>
