---
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
---

<html lang="de">
	<head>
		<title>P-Seminar</title>
		<meta author="p-seminar">
		<meta desciption="Wir bringen Schüler:innen innere Organe näher">
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="layout">
			<Header />
			<div id="impressum-content">
				<h1>Impressum</h1>
                <h2 class="impressum-h">Angaben gemäß §18 MStV</h2>
                <p class="impressum-text"> Amelie Aspileiter, Leni Beil, <a class="no-lu" href="https://feuerstein.dev">Niklas Feuerstein</a>, Tobias Gegner, Romy Henninger, Helena Kohrmann, Celina König, Clemens Marienfeld, Valentina Peinl, Vanessa Seel, Kristina Shevtsova, Elena Wiesen, Sophie Zenker<br><br> P-Seminar (2023/24) des Laurentius Gymnasiums <br> Waldsteig 9 <br> 91564 Neuendettelsau</p>
				<h2 class="impressum-h">Verantwortlich gemäß §18 Abs. 2</h2>
				<p></p>
                <h2 class="impressum-h">Kontakt: </h2>
                <p>contact[at]feuerstein.dev</p>
				<p class="impressum-text"><br>Jegliche Links zu Websites von Drittanbietern werden nicht aktiv überwacht, weshalb wir hiermit nicht für diese Inhalte haften. Sofern wir jedoch von einem bösartigen oder falschen Link Kenntnis nehmen werden wir dies natürlich ausbessern.</p>
			</div>
			<Footer id="test"/>
		</div>
	</body>
</html>


