---
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
---

<html lang="de">
	<head>
		<title>Impressum</title>
		<meta author="p-seminar">
		<meta desciption="Wir bringen Schüler:innen innere Organe näher">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>
	<body>
		<div class="layout">
			<Header />
			<div class="index">
				<h1>Willkommen auf der herzlichsten Website der Welt</h1>
			</div>
			<Footer />
		</div>
	</body>
</html>


