---
import '../styles/global.css'
import Footer from '../components/footer.astro'
import Header from '../components/header.astro'
---

<html lang="de">
	<head>
		<title>Impressum</title>
		<meta author="p-seminar">
		<meta desciption="Wir bringen Schüler:innen innere Organe näher">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>
	<body>
		<div class="layout">
			<Header />
			<div class="mainpage-content">
				<h1 class="tc">Willkommen</h1>
				<p class="tc">Auf der Herz-lichsten Website der Welt</p>
			</div>
			<Footer id="test"/>
		</div>
	</body>
</html>


