---
import "../styles/index.css";
import "../styles/global.css"
import Umami from "../components/umami.astro";
import Infobox from "../components/infobox.astro";
---

<html lang="de">
  <head>
    <title>Me from the inside</title>
    <meta name="author" content="P-Seminar Laurentius Gymasium 2024" />
    <meta
      name="description"
      content="Wir bringen Schüler:innen innere Organe (Herz, Lunge & Gehirn) näher"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <header>
      <h1 id="headline">Me from the Inside</h1>
      <p>Eine Reise durch den Körper</p>
    </header>
    <div id="organe">
      <div>
        <a href="/herz" aria-label="Herz"
          ><img src="/img/heart.webp" alt="Herz" class="zoom_transition"/></a
        ><p>Herz</p>
      </div>
      <div>
        <a href="/gehirn" aria-label="Gehirn"
          ><img src="/img/brain.webp" alt="Gehirn" class="zoom_transition" /></a
        ><p>Gehirn</p>
      </div>
      <div>
        <a href="/lunge" aria-label="Lunge"
          ><img src="/img/lung.webp" alt="Lunge" class="zoom_transition"/></a
        ><p>Lunge</p>
      </div>
    </div>
    <div id="catcontainer">
      <Infobox />
      <a id="link" href="/about"><img id="cat" alt="Cat" src="/img/cat.webp" /></a>
    </div>
  </body>
</html>
