---
import "../styles/index.css";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <title>Me from the inside</title>
    <meta name="author" content="P-Seminar Laurentius Gymasium 2024"/>
    <meta name="desciption" content="Wir bringen Schüler:innen innere Organe näher" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
   
  </body>
</html>
