---
import "../styles/layout.css";
import "../styles/lunge.css";
import "../styles/global.css"
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Umami />
  </head>
  <body>
    <div class="layout">
      <nav>
        <a href="/" id="cat"><img src="/img/cat.webp"></a>
        <h1><a href="#inhalt">Inhalt</a></h1>
        <h2><a href="#aufbau">Aufbau</a></h2>
        <h2><a href="#funktion">Funktion</a></h2>
        <h2><a href="#krankheiten">Krankheiten</a></h2>
        <h2><a href="#sezieren">Sezieren</a></h2>
        <h2><a href="#experten">Experten</a></h2>
      </nav>
      <main>
        <h1 id="inhalt">Die Lunge</h1>
        <h2 id="aufbau">Aufbau</h2>
        <h2 id="funktion">Funktion</h2>
        <h2 id="krankheiten">Krankheiten</h2>
        <h2 id="sezieren">Sezieren</h2>
        <h2 id="experten">Experten</h2>
      </main>
    </div>
  </body>
</html>
