---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
import "../styles/lunge.css"
---

<html lang="de">
  <head>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="layout">
     <!--  <Header /> -->
      <div class="container">
        <nav>
          <h1>Inhalt</h1>
          <h2><a href="#lunge-aufbau">Aufbau</a></h2>
          <h2>Funktion</h2>
          <h2>Krankheiten</h2>
          <h2>Sezieren</h2>
          <h2>Experten</h2>
        </nav>
        <main>
          <h2 id="lunge-aufbau">Aufbau</h2>
          <h2>Funktion</h2>
        </main>
      </div>
      <!--       <div class="mainpage-content">
        <div class="sidebar">
          <h1><a href="#sb-inhalt">Inhalt</a></h1>
          <h3><a href="#sb-aufbau">Aufbau</a></h3>
          <h3><a href="#sb-funktion">Funktion</a></h3>
          <h3><a href="#sb-sezieren">Sezieren</a></h3>
          <h3><a href="#sb-berufe">Berufe</a></h3>
        </div>
        <div class="content">
          <h1 id="sb-inhalt">Die Lunge</h1>
          <h2 id="sb-aufbau">Aufbau</h2>
          <h2 id="sb-funktion">Funktion</h2>
          <h2 id="sb-sezieren">Sezieren</h2>
          <h2 id="sb-berufe">Berufe</h2>
        </div>
      </div>
    -->

      <!--<Footer />-->
    </div>
  </body>
</html>
