---
import "../styles/layout.css";
import "../styles/lunge.css";
import "../styles/global.css"
---

<html lang="de">
  <head>
    <meta name="author" content="p-seminar" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="layout">
      <nav>
        <img src="/img/cat.webp">
        <h1>Inhalt</h1>
        <h2>Aufbau</h2>
        <h2>Funktion</h2>
        <h2>Krankheiten</h2>
        <h2>Sezieren</h2>
        <h2>Experten</h2>
      </nav>
      <main>
        <h1>Die Lunge</h1>
        <h2>Aufbau</h2>
        <h2>Funktion</h2>
      </main>
    </div>
  </body>
</html>
