---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import '../styles/global.css'
---
<html lang="de">
    <head>
        <meta author="p-seminar">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div class="layout">
            <Header />
            <div class="mainpage-content">
                <div class="sidebar">
                    <h1>Inhalt</h1>
                    <h3>Aufbau</h3>
                    <h3>Funktion</h3>
                    <h3>Sezieren</h3>
                    <h3>Berufe</h3>
                </div>
                <div class="content">
                    <h1>Die Lunge</h1>
                </div>
            </div>
            <Footer />
        </div>
    </body>
</html>