---
import "../styles/extra.css";
import "../styles/global.css";
import Umami from "../components/umami.astro";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Quellen</title>
    <Umami />
  </head>
  <body>
    <main>
    <h1><a href="/">Quellen</a></h1>
    <p>Wir haben unsere Informationen von verschiedensten Quellen gesammelt und für euch bereitgestellt. Hier findet ihr diese ursprünglichen Quellen :D</p>
    <h2>Lunge</h2>
    <ol>
      <li>
        <p>
          <a
            href="https://www.rki.de/DE/Content/Gesundheitsmonitoring/Themen/Chronische_Erkrankungen/lungenerkrankungen/lungenerkrankungen_node.html"
            >https://www.rki.de/DE/Content/Gesundheitsmonitoring/Themen/Chronische_Erkrankungen/lungenerkrankungen/lungenerkrankungen_node.html</a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://ourworldindata.org/grapher/lung-cancer-deaths-per-100000-by-sex-1950-2002?country=~DEU"
            >https://ourworldindata.org/grapher/lung-cancer-deaths-per-100000-by-sex-1950-2002?country=~DEU</a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://www.who.int/health-topics/chronic-respiratory-diseases#tab=tab_2"
            >https://www.who.int/health-topics/chronic-respiratory-diseases#tab=tab_2</a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://www.who.int/news-room/fact-sheets/detail/chronic-obstructive-pulmonary-disease-(copd)"
            >https://www.who.int/news-room/fact-sheets/detail/chronic-obstructive-pulmonary-disease-(copd)</a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://pneumologie.de/storage/app/media/uploaded-files/20230320_Weißbuch_Lunge_2023.pdf"
            >https://pneumologie.de/storage/app/media/uploaded-files/20230320_Weißbuch_Lunge_2023.pdf</a>
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://www.ukw.de/medizinische-klinik-i/pneumologie/schwerpunkte/erkrankungen-der-atemwege/"
            >https://www.ukw.de/medizinische-klinik-i/pneumologie/schwerpunkte/erkrankungen-der-atemwege/</a>
        </p>
      </li>
    </ol>
    <h2>Herz</h2>
    <ol>
      <li>
        <p>Koronare Herzkrankheit (KHK) - Deutsches Herzzentrum Berlin <a href="https://www.dhzb.de">https://www.dhzb.de</a> › ratgeber › koronare-herzkrankheit</p>
      </li>
      <li>
        <p>Koronare Herzkrankheit: So läuft die Behandlung Herzmedizin <a href="https://herzmedizin.de">https://herzmedizin.de</a> › herzkrankheiten › koronare-her...</p>
      </li>
      <li>
        <p>Herzrhythmusstörungen: DZHK Deutsches Zentrum für Herz-Kreislauf-Forschung (DZHK)<a href="https://dzhk.de">https://dzhk.de</a> › herzrhythmusstoerungen</p>
      </li>
      <li>
        <p>Herzrhythmusstörung • Symptome, Ursachen & Therapie Deutsches Herzzentrum Berlin <a href="https://www.dhzb.de">https://www.dhzb.de</a> › ratgeber › herzrhythmusstoerung</p>
      </li>
    </ol>
    <h2>Gehirn</h2>
    <ol>
      <li>
        <p><a href="https://www.dasgehirn.info/grundlagen/anatomie/der-frontallappen">https://www.dasgehirn.info/grundlagen/anatomie/der-frontallappen</a></p>
      </li>
      <li>
        <p><a href="https://www.msdmanuals.com/de-de/profi/neurologische-krankheiten/funktion-und-funktionsst%C3%B6rung-der-hirnlappen/%C3%BCbersicht-%C3%BCber-die-hirnfunktion">https://www.msdmanuals.com/de-de/profi/neurologische-krankheiten/funktion-und-funktionsst%C3%B6rung-der-hirnlappen/%C3%BCbersicht-%C3%BCber-die-hirnfunktion</a></p>
      </li>
      <li>
        <p><a href="https://www.kenhub.com/de/library/anatomie/grosshirnrinde-cortex-cerebri">https://www.kenhub.com/de/library/anatomie/grosshirnrinde-cortex-cerebri</a></p>
      </li>
      <li>
        <p><a href="https://www.dasgehirn.info/grundlagen/anatomie/der-cortex">https://www.dasgehirn.info/grundlagen/anatomie/der-cortex</a></p>
      </li>
    </ol>
    </main>
  </body>
</html>
