---
import "../styles/extra.css"
import Umami from "../components/umami.astro"
---

<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Quellen</title>
        <Umami />
    </head>
    <body>
        <h1>Quellen</h1>
        <h2>Lunge</h2>
        <h2>Herz</h2>
        <h2>Gehirn</h2>
    </body>
</html>